@font-face{
    font-family: scalyRemade;
    src: url(fonts/Scaly\ Sans.otf);
    font-weight: normal;
}
@font-face {
    font-family: scalyBold;
    src: url(fonts/Scaly\ Sans\ Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: scalyItalic;
    src: url(fonts/Scaly\ Sans\ Italic.otf);
    font-style: italic;
}
@font-face {
    font-family: scalyBoldItalic;
    src: url(fonts/Scaly\ Sans\ Bold\ Italic.otf);
    font-style: italic;
    font-weight: bold;
}

@font-face{
    font-family: solbera;
    src: url(fonts/Mr\ Eaves\ Small\ Caps.otf);
    font-weight: normal;
}

body{
    display: flex;
    justify-content: space-between;
}

.monster-Result{
    width: 80%;
}
.monster-card{
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
    background-color: #fce5cd;
    width: 100%;
    line-height: 1.6;
    min-width: 50%;
}

.monster-card img{
    width: 100px;
}

.monster-card h2{
    font-family: solbera;
    text-transform: uppercase;
    color: #660000;
}

.monster-card p{
    color: #660000;
    margin: 0;
}

.subStat{
    border-bottom: 3px solid #660000;
    padding: 2px;
}

.nameCont h2{
    margin: 0;
}

.nameCont{
    border-bottom: 3px solid #660000;
}

.mainStatCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    border-bottom: 3px solid #660000;
}

.statBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boldStat{
    font-weight: 700;
}

.skillCont{
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #660000;
}

p.size-font{
    color: black;
    font-size: 0.7em;
}

.boldBlack{
    color: black;
}

p.normalBlack{
    color: black;
}

.underlineH2{
    border-bottom: 3px solid #660000;
}

.rule-card{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.ruleCont{
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
    background-color: #fce5cd;
    width: 100%;
    gap: 1em;
}

.ruleCont h2{
    margin: 0;
    font-family: solbera;
    color: #660000;
}
.ruleCont p{
    margin: 0;
    color: #660000;
}

.rulesContainer{
    position: relative;
    width: 50%;
}

.monsterContainer{
    position: relative;
    width: 50%;
}


.dropDown{
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
    width: 300px;
    background: white;
    position: absolute;
}

.dropDownOption {
    padding: 8px;
    cursor: pointer;
}

.dropDownOption:hover{
    background: #eee;
}
